---
layout: layouts/base.njk
---

<div class="landing-content">
 <div class="landing-title animated fadeIn">
   <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="24" cy="24" r="24" transform="rotate(-180 24 24)" fill="url(#paint0_linear)"/>
    <defs>
    <linearGradient id="paint0_linear" x1="24" y1="0" x2="24" y2="48" gradientUnits="userSpaceOnUse">
    <stop stop-color="#FEE500"/>
    <stop offset="1" stop-color="#FEE500" stop-opacity="0"/>
    </linearGradient>
    </defs>
  </svg>  
  <h1>Empower your cause</h1>  
  <p>Connect with industry experts and startup gurus around the world to grow your social enterprise or non-profit.</p>
 </div>
  <form class="animated fadeIn delay-1s" name="beta" method="POST" data-netlify="true">
    <input type="email" name="email" placeholder="Your email address" />
    <button type="submit">Request access</button>  
  </form>
</div>